body
{
    background-size: cover;
}
.heading{
    width:100%;
}
.heading button{
    float:right;
}
canvas{
    border:dashed 2px white;
}
.copyright_footer{
    text-align: center;
    color:white;
}